<ons-page class="center account-page" ng-controller="AboutCtrl">
    <ons-toolbar title="О приложении">
        <div class="left">
			<ons-back-button></ons-back-button>
        </div>
        <div class="center">
           О приложении
        </div>
        <div class="right">

        </div>
    </ons-toolbar>
    <div class="navigator-container">
		<div class="navigator-content relative">
			<div class="full-screen scroller-wrapper with-bottom-block">
                <div class="text-block">
                    <header>
                        О приложении
                    </header>
                    <p>
                        "Где дешевле?" - это интернет сервис, который позволяет пользователю получить актуальную информацию о наличии,
                        стоимости, местах продажи и условиях покупки товаров и услуг в непосредственной близости от
                        самого пользователя.
                    </p>
                </div>
                <div class="text-block">
                    <header>
                        Как это работает?
                    </header>
                    <p>
                        Информация от магазинов о наличии, стоимости и условиях продажи товаров размещаются на сайте с минимальной
                        частотой 1 раз в час и доступна покупателю в режиме 24/7 без ограничений.<br />
                        Пользователь выбирает близлежайшие магазины и создает список товаров. Далее наше приложение делает анализ
                        по таким критериям как: цена, "доступность товара?" в магазине, уровень сервиса и др.<br />
                        Также, наше приложение помогает покупателю построить кратчайший маршрут к выбранному магазину в зависимости
                        от способа передвижения – пешком или на автомобиле.
                    </p>
                </div>
                <div class="text-block">
                    <header>
                        Для кого наше приложение?
                    </header>
                    <p>
                        Сервис рассчитан на пользователей, которые столкнулись с необходимостью купить продукты, и должны при этом
                        найти ответы на ряд вопросов – где найти нужный товар, как купить товар по оптимальной цене,
                        как оптимизировать расходы времени на достижение этих двух целей.
                    </p>
                    <p>
                        "Где дешевле?" создана, чтобы помочь вам купить нужные товары оптимальный образом.
                    </p>
                </div>
                <div class="text-block">
                    <header>
                        Внимание
                    </header>
                    <p>
                        Этот сайт не является интернет-магазином. Мы предоставляем информацию о ценах и наличии товара в
                        крупнейших магазинах Украины.
                    </p>
                </div>
			</div>
            <p class="copy">
                &copy; "Где дешевле?", 2015
            </p>
		</div>
	</div>
</ons-page>