<ons-page class="center account-page" ng-controller="AccountCtrl">
    <ons-toolbar title="Вход (страница логина)">
        <div class="left">
             <ons-back-button></ons-back-button>
        </div>
        <div class="center">
           Вход (страница логина)
        </div>
        <div class="right">

        </div>
    </ons-toolbar>
    <div class="navigator-container">
		<div class="navigator-content relative">
			<div class="full-screen scroller-wrapper">
				<section ng-if="loginTemplate">
					<div class="text-block">
						<p>
							Если у вас еще нет аккаунта в нашем приложении вы его можете создать.
							Для этого перейдите по ссылке "Зарегистрироваться".
						</p>
					</div>
					<div class="form">
						<div class="padded-20-10-5-10 bg-grey">
							<h3 class="padded-0-0-5-0 left">
								Логин
							</h3>
							<input type="text" class="text-input"  value="">
						</div>
						<div class="padded-20-10-5-10 bg-grey">
							<h3 class="padded-0-0-5-0 left">
								Пароль
							</h3>
							<input type="text" class="text-input"  value="">
						</div>
						<div class="padded-20-10-5-10 bg-grey">
							<ons-toolbar-button class="button--large--cta" ng-click="authorization()">Войти</ons-toolbar-button>
						</div>
						<ons-row>
							<ons-col class="extra-link" ng-click="changePass()">
								Забыли пароль?
							</ons-col>
							<ons-col class="extra-link" ng-click="createAccount()">
								Зарегистрироваться
							</ons-col>
						</ons-row>
					</div>
				</section>
				<section ng-if="changePassTemplate">
					<div class="text-block">
						<p>
							Ведите ваш логин(email) и мы вышлем вам на почту новый пароль
						</p>
					</div>
					<div class="form">
						<div class="padded-20-10-5-10 bg-grey">
							<h3 class="padded-0-0-5-0 left">
								Email
							</h3>
							<input type="text" class="text-input" value="">
						</div>
						<ons-row class="padded-10">
							<ons-col class="padded-20-10-5-10 bg-grey">
								<ons-toolbar-button class="button--large--cta" ng-click="newPass()">Отправить</ons-toolbar-button>
							</ons-col>
							<ons-col class="padded-20-10-5-10 bg-grey">
								<ons-toolbar-button class="button--large--cta btn-white" ng-click="backToAuthorization()">Отменить</ons-toolbar-button>
							</ons-col>
						</ons-row>
					</div>
				</section>
				<section ng-if="createAccountTemplate">
					<div class="text-block">
						<p>
							Аккаунт дает вам возможность пользоваться несколькими списками товаров (которые вы создали ранее) и
							получать список товаров от ваших друзей, если есть такая необходимость.
							Мы не предоставляем данную информацию третьим лицам.
						</p>
					</div>
					<div class="form">
						<div class="padded-20-10-5-10 bg-grey">
							<h3 class="padded-0-0-5-0 left">
								Email
							</h3>
							<input type="text" class="text-input" value="">
						</div>
						<div class="padded-20-10-5-10 bg-grey">
							<h3 class="padded-0-0-5-0 left">
								Пароль
							</h3>
							<input type="password" class="text-input" value="">
						</div>
						<div class="padded-20-10-5-10 bg-grey">
							<h3 class="padded-0-0-5-0 left">
								Пароль еще раз
							</h3>
							<input type="password"class="text-input"  value="">
						</div>
						<ons-row class="padded-10">
							<ons-col class="padded-20-10-5-10 bg-grey">
								<ons-toolbar-button class="button--large--cta" ng-click="sentDataNewAccount()">Создать</ons-toolbar-button>
							</ons-col>
							<ons-col class="padded-20-10-5-10 bg-grey">
								<ons-toolbar-button class="button--large--cta btn-white" ng-click="backToAuthorization()">Отменить</ons-toolbar-button>
							</ons-col>
						</ons-row>
					</div>
				</section>

			</div>
		</div>
	</div>
</ons-page>