<ons-page class="center account-page" ng-controller="ContactsCtrl">
    <ons-toolbar title="Контакты">
        <div class="left">
			<ons-back-button></ons-back-button>
        </div>
        <div class="center">
           Контакты
        </div>
        <div class="right">

        </div>
    </ons-toolbar>
    <div class="navigator-container">
		<div class="navigator-content relative">
			<div class="full-screen scroller-wrapper with-bottom-block">
                <div class="text-block">
                    <p>
                        Адрес: 49000, пр. Гагарина, 1а, Днепропетровск, Украина
                        Тел./факс: (056) 888-88-88
                    </p>
                    <br/>
                    <p>
                        Вы можете связаться с нами позвонив по тел. +38 056 888-88-88,
                        или воспользовавшись формой обратной связи:
                    </p>
                    <br/>
                </div>
                <div class="form">
                    <div class="padded-20-10-5-10 bg-grey">
                        <h3 class="padded-0-0-5-0 left">
                            Ваше имя
                        </h3>
                        <input type="text" class="text-input"  value="">
                    </div>
                    <div class="padded-20-10-5-10 bg-grey">
                        <h3 class="padded-0-0-5-0 left">
                            Контактный e-mail
                        </h3>
                        <input type="text" class="text-input" value="">
                    </div>
                    <div class="padded-20-10-5-10 bg-grey">
                        <h3 class="padded-0-0-5-0 left">
                            Тема сообщения
                        </h3>
                        <input type="text" class="text-input" value="">
                    </div>
                    <div class="padded-20-10-5-10 bg-grey">
                        <h3 class="padded-0-0-5-0 left">
                            Сообщение
                        </h3>
                        <textarea class="text-input"></textarea>
                    </div>
                    <div class="padded-20-10-5-10 bg-grey">
                        <ons-toolbar-button class="button--large--cta" ng-click="sendForm()">Отравить</ons-toolbar-button>
                    </div>
                </div>
			</div>
            <p class="copy">
                &copy; "Где дешевле?", 2015
            </p>
		</div>
	</div>
</ons-page>