<ons-page class="center account-page" ng-controller="CooperationCtrl">
    <ons-toolbar title="Сотрудничество">
        <div class="left">
			<ons-back-button></ons-back-button>
        </div>
        <div class="center">
           Сотрудничество
        </div>
        <div class="right">

        </div>
    </ons-toolbar>
    <div class="navigator-container">
		<div class="navigator-content relative">
			<div class="full-screen scroller-wrapper with-bottom-block">
                <h2>
                    Приглашаем к сотрудничеству проуктовые магазины и продуктовые сети Украины.
                </h2>
                <h2>Наш сервис поможет вам:</h2>
                <ul class="text-block">
                    <li>
                        <header>Привлечь новых покупателей.</header>
                        <p>По прогнозам участие в проекте позволит дополнительно привлечь от 3% до 5% покупателей
                    </li>
                    <li>
                        <header>Увеличить объем продаж.</header>
                        <p>Привлечение дополнительных покупателей с высоким средним чеком позволит увеличить продажи на 12% – 20%
                    </li>
                    <li>
                        <header>Предоставить дополнительную информацию покупателю.</header>
                        <p>Благодаря нам, ваш покупатель сможет узнать о доступных скидках и принимать участие в акциях магазина,
                         что повысит его лояльность.
                        </p>
                    </li>
                </ul>
                <div class="text-block">
                    <header>Почему "Где дешевле?" приложение?</header>
                    <p>Проект стартует в Украине. В дальнейшем планируется охватить большинство русскоязычных стран постсоветского пространства.
                    Если Вы владелец аптеки, сообщите нам о вашем желании участвовать в проекте на странице «Контакты» или позвоните по тел. +38 044 585-97-10
                    </p>
                </div>
			</div>
            <p class="copy">
                &copy; "Где дешевле?", 2015
            </p>
		</div>
	</div>
</ons-page>
