<ons-page class="center location-page" ng-controller="LocationCtrl">
    <ons-toolbar title="Карта">
        <div class="left">
             <ons-back-button></ons-back-button>
        </div>
        <div class="center">
           Карта
        </div>
        <div class="right">

        </div>
    </ons-toolbar>
    <div class="navigator-container">
		<div class="navigator-content relative">
			<div class="full-screen scroller-wrapper">
                <div class="loading blue-color padded-20" ng-if="!ready">
                    <ons-icon icon="fa-circle-o-notch" size="lg" spin="true"></ons-icon>
                </div>
                <div id="map" class="ng-hide" ng-show="ready">
                    <ya-map ya-zoom="14" ya-center="[35.02914790, 48.46464169]"  ya-after-init="afterMapInit($target)">
                        <ya-collection ya-after-init="afterInit($target)">
                            <ya-geo-object ng-repeat="o in geoQuerySource" ya-source="o"></ya-geo-object>
                        </ya-collection>
                        <ya-geo-object ya-source="circle" ya-options="{draggable:true}" ya-event-drag="drag($event)"></ya-geo-object>
                    </ya-map>
                </div>

                <ons-bottom-toolbar>
					<div ng-click="moveToLists(authorization)"  ng-show="ready" class="button--large--cta bottom-bar__line-height ng-hide" style="text-align: center;">
						Перейти к списку
					</div>
				</ons-bottom-toolbar>
			</div>
		</div>
	</div>
</ons-page>