<ons-page class="center account-page" ng-controller="ProductCtrl">
    <ons-toolbar title="Продукт">
        <div class="left">
             <ons-back-button></ons-back-button>
        </div>
        <div class="center">
           Продукт
        </div>
        <div class="right">

        </div>
    </ons-toolbar>
    <div class="navigator-container">
		<div class="navigator-content relative">
			<div class="full-screen scroller-wrapper">
				Продукт критериии
				<ons-bottom-toolbar>
					<div ng-click="moveToProductsListPage()" class="button--large--cta bottom-bar__line-height" style="text-align: center;">
						Сохранить
					</div>
				</ons-bottom-toolbar>
			</div>
		</div>
	</div>
</ons-page>