<ons-page class="center products-list-page" ng-controller="ProductsListCtrl">
    <ons-toolbar title="Список прокуктов">
        <div class="left">
             <ons-back-button></ons-back-button>
        </div>
        <div class="center">
           Список прокуктов
        </div>
        <div class="right padded-10">
			<ons-icon  icon="fa-plus" ng-click="addProduct()"></ons-icon>
        </div>
    </ons-toolbar>
    <div class="navigator-container">
		<div class="navigator-content relative">
			<div class="full-screen scroller-wrapper">
				<div class="loading blue-color padded-10" ng-if="!ready ">
					<ons-icon icon="fa-circle-o-notch" size="lg" spin="true"></ons-icon>
				</div>
				<p ng-if="list.length==0 && ready">
					Для анализа цены списка, в списке должен быть хотя бы один продукт
				</p>
				<ons-list class="topcoat-list padded-10-20" ng-if="ready" >
					<ons-list-item ng-init="showItem = false; layOut = false; currentProduct=oneProduct;"  ng-class="{'expanded': showItem, 'processing': processing}" ng-repeat="oneProduct in list" class="full-button topcoat-list__item--tappable topcoat-list__item__line-height">
						<ons-row  class="name-point-course"  ng-click="showItem =! showItem;">
							<ons-col class="padded-10 long-col" >
								<span ng-class="{'layOut': layOut}">{{oneProduct.nameProduct}}</span>
								<div ng-class="{'layOut': layOut}" ng-if="oneProduct.producerProduct" class="padded-5-0">({{oneProduct.producerProduct}})</div>
							</ons-col>
							<ons-col class="padded-10-0 center point-field width-80">
								Вес
								<div ng-class="{'layOut': layOut}" class="padded-5-0">{{oneProduct.boxingProduct}}</div>
							</ons-col>
							<ons-col class="padded-10-0 center point-field width-65">
								Кол-во
								<div ng-class="{'layOut': layOut}" class="padded-5-0">{{oneProduct.amountProduct}}</div>
							</ons-col>
							<ons-col class="padded-10-0 center point-field width-40">
								<ons-icon icon="fa-bars"></ons-icon>
							</ons-col>
						</ons-row>
						<ons-row class="ng-hide" ng-show="showItem">
							<ons-col ng-class="{'layOut': layOut}" class="padded-5-10">
								{{oneProduct.countryProduct}}
							</ons-col>
						</ons-row>
						<ons-row class="ng-hide" ng-show="showItem">
							<ons-col class="action-btn moveToListProduct center" ng-click="layOut =! layOut;">
								<span class="icon-block">
									<img ng-if="!layOut" src="img/icon-add.png" alt="" />
									<img ng-if="layOut" src="img/icon-remove.png" alt="" />
								</span>
								<span ng-if="layOut">Выложить</span>
								<span ng-if="!layOut">Купил</span>
							</ons-col>
							<ons-col ng-class="{'layOut': layOut}" class="action-btn sentOnApp center oneline disable-btn"  ng-if="layOut" ng-click="$event.stopPropagation();">
								<span class="icon-block">
									<img src="img/icon-edit.png" alt="" />
								</span>
								Изменить
							</ons-col>
							<ons-col  class="action-btn sentOnApp center oneline" ng-if="!layOut" ng-click="editProduct(this)">
								<span class="icon-block">
									<img src="img/icon-edit.png" alt="" />
								</span>
								Изменить
							</ons-col>
							<ons-col ng-class="{'layOut': layOut}" class="action-btn deleteList center oneline disable-btn" ng-if="layOut" ng-click="$event.stopPropagation();">
								<span class="icon-block">
									<img src="img/icon-delete.png" alt="" />
								</span>
								Удалить
							</ons-col>
							<ons-col  class="action-btn deleteList center oneline" ng-if="!layOut" ng-click="deleteOneProduct(oneProduct.nameProduct)">
								<span class="icon-block">
									<img src="img/icon-delete.png" alt="" />
								</span>
								Удалить
							</ons-col>
						</ons-row>
					</ons-list-item>
				</ons-list>			
				<ons-bottom-toolbar>
					<div ng-if="list.length>0" ng-click="moveToResultPage()" class="button--large--cta bottom-bar__line-height" style="text-align: center;">
						Проанализировать
					</div>
					<div ng-if="list.length==0" ng-click="addProduct()" class="button--large--cta btn-white bottom-bar__line-height" style="text-align: center;">
						Добавить продукт
					</div>
				</ons-bottom-toolbar>
			</div>
		</div>
		<script type="text/ng-template" id="modalDialogDelete">
			<div class="ngdialog-message">
				<p>Вы действительно хотите удалить "{{nameProduct}}" из списка?</p>
			</div>
			<div class="ngdialog-buttons">
				<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Отмена</button>
				<button type="button" class="ngdialog-button ngdialog-button-primary"  ng-click="confirm()">Да</button>
			</div>
		</script>
	</div>
</ons-page>